@import url("reset.css");
body, .container {
    background-color: #242424;
}
.container {
    line-height: 1;
    padding: 6em;
    color: white;
}
.header {
    background-color: black;
    margin-bottom: 1em;
    padding: 1em 1em;
    border: 2px solid black;
    border-radius: 50px;
    height: 1.5em;
}
.header .nav{
    float: right;
    clear: both;
}

.header .nav a {
    background-color: gray;
    padding: 1em 2.5em;
    width: 10%;
    border-radius: 50px 5px;
}
.header .nav a:hover {
    border-radius: 5px 50px;
    background-color: cyan;
}